* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
    background-color: red;
}

#grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 1000px;
}

.square {
	width: 100px;
	height: 100px;
	border: solid 2px blue;
}
.square-9{
	width: 90px;
	height: 90px;
	border: solid 2px yellow;
}
.square-7{
	width: 90px;
	height: 90px;
	border: solid 2px violet;
}
.cambio{
    background-color: white;
}